.topo{
    position: absolute;
    top: 10px;
    left: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.id{
    font-size: 0.8rem;
    color: rgb(88, 88, 88);
}